:root {
  --main-lt-blue: #78BDDF;
}

.icons {
  height: 650px;
  width: 100px;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons li {
  height: 30%;
  width: 100%;
  color: var(--main-lt-blue);
  text-decoration: none;
}

a {
  text-decoration: none;
  text-align: center;
  height: 30%;
  width: 100%;
  color: var(--main-lt-blue);
}

.scorers-table {
  height: 650px;
  width: 300px;
  background-color: #C4CFD4;
  color: #377391;
  font-family: sans-serif;
  font-size: 25px;
  top: 0;
  margin-left: 25px;
  border-radius: 8px;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);
}

html {
  background-image: url('../images/space.jpg');
}

.scores {
  display: flex;
  justify-content: space-between;
}

.update {
  transform: scale(1.1);
  color: #ffc600;
}

.lose-ball {
  transform: scale(1.1);
  color: #af1d1d;
}

.score-nums {
  display: flex;
  justify-content: space-between;
}

.instructions {
  padding: 10px;
}

canvas {
  border-radius: 8px;
  box-shadow: 0 2px 12px -5px rgba(0,0,0,.1);

}

.stats-div {
  padding: 10px;
}

#score {
  transition: all .10s ease;
}
#high-score {
  transition: all .10s ease;
}
#ball-count {
  transition: all .10s ease;
}

.title {
  display: block;
  text-align: center;
  color: var(--main-lt-blue);
  font: 20px verdana, sans-serif;
}

.body {
  display: flex;
  justify-content: center;
}