body {
  display: flex;
  justify-content: center;
}
.icons {
  height: 650px;
  width: 100px;
  background-color: rgb(33, 100, 53);
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icons li {
  height: 30%;
  width: 100%;
  color: rgb(147, 231, 156);
  background-color: rgb(33, 100, 53);
  text-decoration: none;
}

a {
  text-decoration: none;
  text-align: center;
  height: 30%;
  width: 100%;
  color: rgb(147, 231, 156);
}

.scorers-table {
  height: 650px;
  width: 300px;
  background-color: rgb(33, 100, 53);
  color: rgb(147, 231, 156);
  font-family: sans-serif;
  font-size: 25px;
  top: 0
}

html {
  background-color: rgb(33, 100, 53);
}

.scores {
  display: flex;
  justify-content: space-between;
}

.score-nums {
  display: flex;
  justify-content: space-between;
}

.instructions {
  padding: 18px;
}

canvas {
  border-radius: 8px;
}